<html lang="en" class="body-full-height" data-ng-app="LoginModule" >
    <head>        
        <!-- META SECTION -->
        <title>Kiran Adhav</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->                                    
    </head>
    <body data-ng-controller="LoginController">
        <!--  <div class="content" data-ng-controller="LoginController"> -->
         <div class="login-container" > 
        
            <div class="login-box animated fadeInDown">
                 <div class="login-body">
                   <form class="form-horizontal" method="post" data-ng-submit="login()" role="form" ng-show="!statusForgetFrom"> --> 
                    <div class="login-title"><strong>Welcome</strong>, Please login</div>
                   <!--  <form action="index.html" class="form-horizontal" method="post">  -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="username" placeholder="Username"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" class="form-control" ng-model="password" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="index.html"class="btn btn-link btn-block">Forgot your password?</a>
                        </div>
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-info btn-block">Log In</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2017 
                    </div>
                    <div class="pull-right">
                        <a href="#">About</a> |
                        <a href="#">Privacy</a> |
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
            
        </div>


    <script src="assets/plugins/global/angular.min.js"></script>
   <!--  <script src="js/module/app.js"></script> -->
          <script src="js/module/loginmodule.js"></script>
          <script src="js/controller/logincontroller.js"></script>
          <script src="js/services/loginservices.js"></script>
    </body>
</html>






